{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sondage | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        <div class="logo">MonSondage {{ user.username }} </div>
        <nav>
            <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'logout' %}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Projet Sondage en ligne. Mr Minonja</p>
    </footer>

</body>
</html>
