{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'CSS/login_register.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="title">Connexion</h1>
            <form method="POST" id="loginForm">
                {% csrf_token %}
                {{ form.as_p }}
                
                {% if form.non_field_errors %}
                    <div class="error-message">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <button type="submit" class="btn">Se connecter</button>
            </form>
            <div class="redirect">
                <p>Pas encore de compte ?</p>
                <a href="{% url 'register' %}" class="link">S'inscrire</a>
            </div>
        </div>
    </div>
</body>
</html>