{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'CSS/login_register.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="title">Inscription</h1>
            <form method="POST" id="registerForm">
                {% csrf_token %}
                {{ form.as_p }}
               <button type="submit" class="btn">S'inscrire</button>
            </form>
            <div class="redirect">
                <p>Déjà inscrit ?</p>
                <a href="{% url 'login' %}" class="link">Se connecter</a>
            </div>
        </div>
    </div>
</body>
</html>