{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'CSS/login_register.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="title">Inscription</h1>
            <form method="POST" id="registerForm">
                {% csrf_token %}
                <div class="form-field">
                    <label for="{{ form.first_name.id_for_label }}">Firstname</label>
                    {{ form.first_name }}
                </div>
                <div class="form-field">
                    <label for="{{ form.last_name.id_for_label }}">Lastname</label>
                    {{ form.last_name }}
                </div>
                <div class="form-field">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-field">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-field">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-field">
                    <label for="{{ form.password2.id_for_label }}">Confirm password</label>
                    {{ form.password2 }}
                </div>
                <div class="form-field">
                    <label for="{{ form.role.id_for_label }}">Rôle</label>
                    {{ form.role }}
                </div>
                <button type="submit" class="btn">S'inscrire</button>
            </form>
            <div class="redirect">
                <p>Déjà inscrit ?</p>
                <a href="{% url 'login' %}" class="link">Se connecter</a>
            </div>
        </div>
    </div>
</body>
</html>